/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	font-family: 'Roboto', sans-serif;
	background: #EEF1F8;
}

#container {
	width: 1200px;

	margin-left: auto;
	margin-right: auto;
}

#chart {

	background: white;
	width: 1000px;
	border: 1px solid #cccccc;
	margin-left: auto;
	margin-right: auto;

	border-radius: 5px;

	box-shadow: 10px 10px 15px #ccc;
}

#chart .error {
	background: #eee;
}

#chart .error {
	width: 1000px;
	height: 300px;
}

#chart .error p {
	text-align: center;
	position: relative;
	top: 50%;
	transform: 			translateY(-50%);
}

table
{
    border: 1px solid #ccc;
}

th 
{
	background-color: #eaeaea;
	padding: 20px;
}

td
{
	padding: 5px;
	text-align: right;
    
    margin: 0;
    padding: 4px;
    background-color: #ffffff;
}

.axis {
	   shape-rendering: crispEdges;
	}
	   
	.x.axis line {
	   stroke: #000000;
	   stroke-width: 1.0;
	}
	  
	.x.axis .minor {
	   stroke-opacity: .5;
	   stroke: #000000;
	   stroke-width: 1.5;
	}
	 
	.x.axis path {
	  display: none;
	}

	.y.axis line, .y.axis path {
	   fill: none;
	   stroke: #000000;
	   stroke-width: 1.0;
	}
 
	.y.axis .minor{
	   stroke: #000000;
	   stroke-width: 1.5;
	   stroke-opacity: 0.5;
	}

table.tooltip {
		border: 0px;
		background-color: #FFFFA4;
		color: black;
	}

table.tooltip td {
	background-color: #FFFFA4;
	color: black;
}

.tooltip {
	transition: visibility 0s, opacity 0.5s linear;
}

.tooltip h3 {
	color: red;
	text-align: center;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

